*{
    a:visited {
      color: #ffffff;
    }
  }

  
/*---------- Section : Espace de connexion ------------*/
section{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

#image_area{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image{
    width: 70%;
    border-radius: 50%;
}
.vertical_line{
    display: inline-block;
    border-left: 1px solid #ffffff;
    margin:30px;
    height: 600px; 
}

/* #fast_signin{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 33px;
}

#fast_signin h3{
    font-family: "Josefin Sans", serif;
    font-size: 25pt;
    color: white;
}

#fast_signin p{
    font-family: "Josefin Sans", serif;
    font-size: 15pt;
    color: white;
}

#button_icon{
    background-color: #FAC94C;
    width: 357px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#button_icon button{
    background: none;
    border: none;
}
.social_network{
    width: 50px;
    height: 50px;
} 

#decorative_line{
    width: 57%;
}*/

#form_area{
    width: 50%;
}
form{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

form h1{
    font-family: "Josefin Sans", serif;
    font-size: 25pt;
    color: white;
    text-align: center;
}
#email_area{
    width: 57%;
    height: 70px;
    border: none;
    border-radius: 15px;
    font-family: "Josefin Sans", serif;
    font-size: 17pt;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
#email{
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 15px;
    font-family: "Josefin Sans", serif;
    font-size: 14pt;
}

#password_area{
    width: 57%;
    height: 90px;
    border: none;
    border-radius: 15px;
    font-family: "Josefin Sans", serif;
    font-size: 17pt;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

#password{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 15px;
    font-family: "Josefin Sans", serif;
    font-size: 14pt;
}

#password_area a{
    font-size: 15pt;
    text-align: right;
}

#checkbox{
    font-family: "Josefin Sans", serif;
    font-size: 14pt;
    display: flex;
    align-items: center;
    width: 359px;
}

#connect{

    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #FAC94C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16pt;
    cursor: pointer;
    
}

#sign_in{
    font-family: "Josefin Sans", serif;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

form p{
    font-family: "Josefin Sans", serif;   
}

/* Styles pour la version mobile */
@media screen and (max-width: 600px) {
    /* Header styling for mobile will be handled by header.php */
    
    section {
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }

    .vertical_line {
        display: none;
    }

    #image_area {
        display: none;
    }

    #image {
        display: none;
    }

    .logo-text {
        font-size: 24px;
        color: #fac94c;
        margin-bottom: 20px;
    }

    #form_area {
        width: 100%;
        padding: 0 20px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    form h1 {
        font-size: 16pt;
        margin-bottom: 15px;
    }

    #email_area, #password_area {
        width: 90%;
        height: auto;
        margin-bottom: 10px;
    }

    #email_area label, #password_area label {
        margin-bottom: 5px;
        font-size: 14pt;
    }

    #email, #password {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border-radius: 5px;
    }

    #password_area a {
        font-size: 12pt;
        text-align: right;
        margin-top: 3px;
    }

    #checkbox {
        width: 90%;
        margin: 10px 0;
        font-size: 12pt;
    }

    #connect {
        width: 150px;
        height: 40px;
        border-radius: 25px;
        font-size: 14pt;
        background-color: #FAC94C;
    }

    form p {
        font-size: 12pt;
        margin-top: 10px;
    }
}
